* -text
Config/*.ini text eol=native
**/Config/*.ini text eol=native
*.json text eol=native
*.csv text eol=native
*.md text eol=native
*.sh text eol=lf
*.bat text eol=crlf
.braids.json text eol=lf
*.txt text eol=native
.gitattributes text eol=native
.gitignore text eol=native
.ruby-version text eol=native
Gemfile text eol=native
LICENSE text eol=native

*.h text eol=native
*.cs text eol=native
*.cpp text eol=native
*.py text eol=native

*.uplugin text eol=native
*.uproject text eol=native

*.uasset !text !filter !merge !diff
*.fbx !text !filter !merge !diff
*.png !text !filter !merge !diff
*.mp3 !text !filter !merge !diff
*.wav !text !filter !merge !diff
*.xcf !text !filter !merge !diff
*.jpg !text !filter !merge !diff
**/*.umap !text !filter !merge !diff
*.umap !text !filter !merge !diff
